<a href="https://colab.research.google.com/github/torrancefredell/gss_project/blob/main/gss_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font size="5">**GSS PROJECT**</font>

Research question: How does occupational prestige and work-life balance influence marital satisfaction among married individuals in the US?

In [1]:
! git clone https://github.com/DS3001/project_gss

Cloning into 'project_gss'...
remote: Enumerating objects: 23, done.
remote: Counting objects: 100% (8/8), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 23 (delta 6), reused 1 (delta 1), pack-reused 15
Receiving objects: 100% (23/23), 23.94 MiB | 18.57 MiB/s, done.
Resolving deltas: 100% (6/6), done.

In [2]:
import pandas as pd

var_list = ['wrkstat', 'occ10', 'prestige', 'whatslf2', 'marital', 'divorce', 'martype',
            'sppres10', 'prestg10', 'spocc10', 'hapmar', 'age', 'educ', 'sex', 'income16', 'income', 'prestg105plus', 'sphrs1', 'hrs1'] # List of variables you want to save
output_filename = 'selected_gss_data.csv' # Name of the file you want to save the data to

modes = ['w','a'] # Has write mode and append mode
phase = 0 # Starts in write mode; after one iteration of loop, switches to append mode

for k in range(3): # for each chunk of the data
    url = 'https://github.com/DS3001/project_gss/raw/main/gss_chunk_' + str(1+k) + '.parquet' # Create url to the chunk to be processed
    print(url) # Check the url is correct
    df = pd.read_parquet(url) # Download this chunk of data
    print(df.head()) # Visually inspect the first few rows
    df.loc[:,var_list].to_csv(output_filename, # specifies target file to save the chunk to
                              mode=modes[phase], # control write versus append
                              header=var_list, # variable names
                              index=False) # no row index saved
    phase = 1 # Switch from write mode to append mode

https://github.com/DS3001/project_gss/raw/main/gss_chunk_1.parquet
   year  id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1972   1  working full time   NaN   NaN    NaN  205.0      50.0
1  1972   2            retired   NaN   NaN    yes  441.0      45.0
2  1972   3  working part time   NaN   NaN    NaN  270.0      44.0
3  1972   4  working full time   NaN   NaN    NaN    1.0      57.0
4  1972   5      keeping house   NaN   NaN    yes  385.0      40.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next wtsscomp wtsscompnr
0           NaN          NaN           NaN   0.4446        NaN
1           NaN          NaN           NaN   0.8893        NaN
2           NaN          NaN           NaN   0.8893        NaN
3           NaN          NaN           NaN   0.8893        NaN
4           NaN          NaN           NaN   0.8893        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_2.parquet
   year   id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1989  775            retired   NaN   NaN    yes  540.0      36.0
1  1989  776  working full time  40.0   NaN    NaN  925.0      36.0
2  1989  777            retired   NaN   NaN    yes   80.0      61.0
3  1989  778  working full time  44.0   NaN    NaN  912.0      26.0
4  1989  779            retired   NaN   NaN    yes  690.0      32.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0           NaN          NaN           NaN  1.295069        NaN
1           NaN          NaN           NaN  0.483624        NaN
2           NaN          NaN           NaN  0.407988        NaN
3           NaN          NaN           NaN  1.225988        NaN
4           NaN          NaN           NaN  0.504302        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_3.parquet
   year    id            wrkstat  hrs1  hrs2 evwork  occ  prestige  \
0  2006  1751  working full time  40.0   NaN    NaN  NaN       NaN
1  2006  1752          in school   NaN   NaN    yes  NaN       NaN
2  2006  1753  working full time  35.0   NaN    NaN  NaN       NaN
3  2006  1754  working full time  50.0   NaN    NaN  NaN       NaN
4  2006  1755  working full time  40.0   NaN    NaN  NaN       NaN

         wrkslf     wrkgovt  ...  agehef12 agehef13 agehef14  hompoph  \
0  someone else  government  ...       NaN      NaN      NaN      NaN
1  someone else     private  ...       NaN      NaN      NaN      NaN
2  someone else  government  ...       NaN      NaN      NaN      NaN
3  someone else  government  ...       NaN      NaN      NaN      NaN
4  someone else     private  ...       NaN      NaN      NaN      NaN

  wtssps_nea  wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0        NaN           NaN          NaN           NaN  1.079141   0.961150
1        NaN           NaN          NaN           NaN  7.673834   6.641571
2        NaN           NaN          NaN           NaN  0.584663   0.512145
3        NaN           NaN          NaN           NaN  0.715731   0.637592
4        NaN           NaN          NaN           NaN  1.094831   0.956094

[5 rows x 6694 columns]

In [3]:
df = pd.read_csv('selected_gss_data.csv')
df.tail(3)

<ipython-input-3-b526b26be8d6>:1: DtypeWarning: Columns (2,7,8,11,12,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('selected_gss_data.csv')

,wrkstat,occ10,prestige,whatslf2,marital,divorce,martype,sppres10,prestg10,spocc10,hapmar,age,educ,sex,income16,income,prestg105plus,sphrs1,hrs1
72389,working full time,respiratory therapists,NaN,"other (agriculture, construction, service, gov...",never married,NaN,NaN,64.0,62.0,NaN,NaN,32.0,15.0,male,"$130,000 to $149,999","$25,000 or more",NaN,NaN,38.0
72390,working full time,elementary and middle school teachers,NaN,"other (agriculture, construction, service, gov...",married,no,marriage between a man and a woman,65.0,61.0,civil engineers,very happy,49.0,17.0,female,"$150,000 to $169,999","$25,000 or more",NaN,45.0,40.0
72391,working full time,forest and conservation workers,NaN,"other (agriculture, construction, service, gov...",married,no,marriage between a man and a woman,38.0,42.0,other teachers and instructors,pretty happy,50.0,20.0,male,"$90,000 to $109,999","$25,000 or more",NaN,40.0,40.0

In [4]:
df.shape, '\n'

((72392, 19), '\n')

In [5]:
df.dtypes

wrkstat          object
occ10            object
prestige         object
whatslf2         object
marital          object
divorce          object
martype          object
sppres10         object
prestg10         object
spocc10          object
hapmar           object
age              object
educ             object
sex              object
income16         object
income           object
prestg105plus    object
sphrs1           object
hrs1             object
dtype: object

In [6]:
df.rename(columns={"wrkstat": "work_status", "occ10": "occupation", "whatslf2": "workplace_classification", "marital": "marital_status", "martype": "marriage_type", "sppres10": "spouse_prestige", "prestg10": "respondent_prestige", "spocc10": "spouse_occupation", "hapmar": "marriage_happiness", "sphrs1": "spouse_hours_worked", "hrs1": "respondent_hours_worked"}, inplace = True)

In [7]:
spouse_prestige = df['spouse_prestige']
prestige = df['prestige']
respondent_prestige = df['respondent_prestige']
income16 = df['income16']
income = df['income']
work_status = df['work_status']
occupation = df['occupation']
workplace_classification = df['workplace_classification']
marital_status = df['marital_status']
divorce = df['divorce']
marriage_type = df['marriage_type']
spouse_occupation = df['spouse_occupation']
marriage_happiness = df['marriage_happiness']
age = df['age']
educ = df['educ']
sex = df['sex']
prestg105plus = df['prestg105plus']
spouse_hours_worked = df['spouse_hours_worked']
respondent_hours_worked = df['respondent_hours_worked']

In [8]:
missing_sppres10_count = spouse_prestige.isna().sum()
missing_prestige_count = prestige.isna().sum()
missing_prestg10_count = respondent_prestige.isna().sum()
missing_income16_count = income16.isna().sum()
missing_income_count = income.isna().sum()
missing_wrkstat_count = work_status.isna().sum()
missing_occ10_count = occupation.isna().sum()
missing_whatslf2_count = workplace_classification.isna().sum()
missing_marital_count = marital_status.isna().sum()
missing_divorce_count = divorce.isna().sum()
missing_martype_count = marriage_type.isna().sum()
missing_spocc10_count = spouse_occupation.isna().sum()
missing_hapmar_count = marriage_happiness.isna().sum()
missing_age_count = age.isna().sum()
missing_educ_count = educ.isna().sum()
missing_sex_count = sex.isna().sum()
missing_prestg105plus_count = prestg105plus.isna().sum()
missing_spouse_hours_worked_count = spouse_hours_worked.isna().sum()
missing_respondent_hours_worked_count = respondent_hours_worked.isna().sum()

In [9]:
row_count = len(df)

percent_sppres10 = (missing_sppres10_count / row_count) * 100
print(percent_sppres10, "% of the spouse_prestige rows are NaN")

percent_prestige = (missing_prestige_count / row_count) * 100
print(percent_prestige, "% of the prestige rows are NaN")

percent_prestg10 = (missing_prestg10_count / row_count) * 100
print(percent_prestg10, "% of the respondent_prestige rows are NaN")

percent_income16 = (missing_income16_count / row_count) * 100
print(percent_income16, "% of the income16 rows are NaN")

percent_income = (missing_income_count / row_count) * 100
print(percent_income, "% of the income rows are NaN")

percent_wrkstat = (missing_wrkstat_count / row_count) * 100
print(percent_wrkstat, "% of the work_status rows are NaN")

percent_occ10 = (missing_occ10_count / row_count) * 100
print(percent_occ10, "% of the occupation rows are NaN")

percent_whatslf2 = (missing_whatslf2_count / row_count) * 100
print(percent_whatslf2, "% of the workplace_classification rows are NaN")

percent_marital = (missing_marital_count / row_count) * 100
print(percent_marital, "% of the marital_status rows are NaN")

percent_divorce = (missing_divorce_count / row_count) * 100
print(percent_divorce, "% of the divorce rows are NaN")

percent_martype = (missing_martype_count / row_count) * 100
print(percent_martype, "% of the marriage_type rows are NaN")

percent_spocc10 = (missing_spocc10_count / row_count) * 100
print(percent_spocc10, "% of the spouse_occupation rows are NaN")

percent_hapmar = (missing_hapmar_count / row_count) * 100
print(percent_hapmar, "% of the marriage_happiness rows are NaN")

percent_age = (missing_age_count / row_count) * 100
print(percent_age, "% of the age rows are NaN")

percent_educ = (missing_educ_count / row_count) * 100
print(percent_educ, "% of the educ rows are NaN")

percent_sex = (missing_sex_count / row_count) * 100
print(percent_sex, "% of the sex rows are NaN")

percent_prestg105plus = (missing_prestg105plus_count / row_count) * 100
print(percent_prestg105plus, "% of the prestg105plus rows are NaN")

percent_spouse_hours_worked = (missing_spouse_hours_worked_count / row_count) * 100
print(percent_spouse_hours_worked, "% of the spouse_hours_worked rows are NaN")

percent_respondent_hours_worked = (missing_respondent_hours_worked_count / row_count) * 100
print(percent_respondent_hours_worked, "% of the respondent_hours_worked rows are NaN")

51.93805945408333 % of the spouse_prestige rows are NaN
66.47557741186871 % of the prestige rows are NaN
7.102994806055918 % of the respondent_prestige rows are NaN
84.29522599182229 % of the income16 rows are NaN
12.36462592551663 % of the income rows are NaN
0.04972925185103326 % of the work_status rows are NaN
7.097469333628024 % of the occupation rows are NaN
96.97894795004973 % of the workplace_classification rows are NaN
0.07044977345563046 % of the marital_status rows are NaN
39.073378273842415 % of the divorce rows are NaN
92.9881754890043 % of the marriage_type rows are NaN
52.31241021107304 % of the spouse_occupation rows are NaN
53.03210299480605 % of the marriage_happiness rows are NaN
1.0622720742623495 % of the age rows are NaN
0.36329981213393747 % of the educ rows are NaN
0.15471322798099238 % of the sex rows are NaN
17.047463808155598 % of the prestg105plus rows are NaN
68.58078240689579 % of the spouse_hours_worked rows are NaN
42.5875787379821 % of the respondent_hours_worked rows are NaN

Variables to use:
- prestg10 -- respondent's job prestige
- income -- family income
- wkrstat -- work status last week
- occ10 -- respondent's occupation
- marital -- marital status
- age -- respondent's age
- educ -- respondent's education
- sex -- respondent's sex
- POTENTIALLY: spocc10 (respondent's spouse's occupation), sppres10 (respondent's spouse's occupation prestige), hapmar (marriage happiness) -- these have a lot of values missing but are important for our research question nonetheless

In [10]:
df['spouse_prestige'] = pd.to_numeric(df['spouse_prestige'], errors = 'coerce')
df['prestige'] = pd.to_numeric(df['prestige'], errors = 'coerce')
df['respondent_prestige'] = pd.to_numeric(df['respondent_prestige'], errors = 'coerce')
df['age'] = pd.to_numeric(df['age'], errors = 'coerce')
df['educ'] = pd.to_numeric(df['educ'], errors = 'coerce')
df['prestg105plus'] = pd.to_numeric(df['prestg105plus'], errors = 'coerce')
df['spouse_hours_worked'] = pd.to_numeric(df['spouse_hours_worked'], errors = 'coerce')
df['respondent_hours_worked'] = pd.to_numeric(df['respondent_hours_worked'], errors = 'coerce')

In [11]:
df.dtypes

work_status                  object
occupation                   object
prestige                    float64
workplace_classification     object
marital_status               object
divorce                      object
marriage_type                object
spouse_prestige             float64
respondent_prestige         float64
spouse_occupation            object
marriage_happiness           object
age                         float64
educ                        float64
sex                          object
income16                     object
income                       object
prestg105plus               float64
spouse_hours_worked         float64
respondent_hours_worked     float64
dtype: object

In [12]:
df.loc[df['work_status'] == 'wrkstat']

,work_status,occupation,prestige,workplace_classification,marital_status,divorce,marriage_type,spouse_prestige,respondent_prestige,spouse_occupation,marriage_happiness,age,educ,sex,income16,income,prestg105plus,spouse_hours_worked,respondent_hours_worked
24130,wrkstat,occ10,NaN,whatslf2,marital,divorce,martype,NaN,NaN,spocc10,hapmar,NaN,NaN,sex,income16,income,NaN,NaN,NaN
48261,wrkstat,occ10,NaN,whatslf2,marital,divorce,martype,NaN,NaN,spocc10,hapmar,NaN,NaN,sex,income16,income,NaN,NaN,NaN

In [13]:
indices_to_drop = df[df['work_status'] == 'wrkstat'].index
df.drop(indices_to_drop, inplace=True)
df['work_status'].value_counts()

working full time                                                             35267
retired                                                                       10886
keeping house                                                                 10764
working part time                                                              7430
unemployed, laid off, looking for work                                         2621
in school                                                                      2187
other                                                                          1643
with a job, but not at work because of temporary illness, vacation, strike     1556
Name: work_status, dtype: int64

In [14]:
df.shape

(72390, 19)

In [15]:
df.loc[df['work_status'] == 'wrkstat']
# Sanity check

Empty DataFrame
Columns: [work_status, occupation, prestige, workplace_classification, marital_status, divorce, marriage_type, spouse_prestige, respondent_prestige, spouse_occupation, marriage_happiness, age, educ, sex, income16, income, prestg105plus, spouse_hours_worked, respondent_hours_worked]
Index: []

In [16]:
spouse_prestige = df['spouse_prestige']
prestige = df['prestige']
respondent_prestige = df['respondent_prestige']
income16 = df['income16']
income = df['income']
work_status = df['work_status']
occupation = df['occupation']
workplace_classification = df['workplace_classification']
marital_status = df['marital_status']
divorce = df['divorce']
marriage_type = df['marriage_type']
spouse_occupation = df['spouse_occupation']
marriage_happiness = df['marriage_happiness']
age = df['age']
educ = df['educ']
sex = df['sex']
prestg105plus = df['prestg105plus']
spouse_hours_worked = df['spouse_hours_worked']
respondent_hours_worked = df['respondent_hours_worked']
# Updating vars to reflect dropped rows

In [17]:
occupation.value_counts(), '\n'

(secretaries and administrative assistants                                                     2727
 retail salespersons                                                                           1515
 elementary and middle school teachers                                                         1475
 nursing, psychiatric, and home health aides                                                   1386
 driver/sales workers and truck drivers                                                        1324
                                                                                               ...
 animal breeders                                                                                  1
 extruding and forming machine setters, operators, and tenders,  synthetic and glass fibers       1
 signal and track switch repairers                                                                1
 commercial divers                                                                                1
 hunters and trappers                                                                             1
 Name: occupation, Length: 533, dtype: int64,
 '\n')

In [20]:
# occupation.unique()

In the codebook, since the missing values for "hapmar" can be largely attributed to "not applicable" instead of "no answer" or "skipped on web," we decided that it was valid to drop all of the rows that had NaN for this.

In [21]:
workplace_classification.value_counts(), '\n'

(other (agriculture, construction, service, government, etc.)    1612
 retail trade                                                     283
 manufacturing                                                    228
 wholesale trade                                                   62
 Name: workplace_classification, dtype: int64,
 '\n')

In [22]:
marital_status.value_counts(), '\n'

(married          37590
 never married    15910
 divorced          9642
 widowed           6756
 separated         2441
 Name: marital_status, dtype: int64,
 '\n')

In [23]:
divorce.value_counts(), '\n'

(no     34738
 yes     9366
 Name: divorce, dtype: int64,
 '\n')

In [24]:
marriage_type.value_counts(), '\n'

(marriage between a man and a woman                4999
 not sure                                            39
 marriage between two people of the same gender      36
 Name: marriage_type, dtype: int64,
 '\n')

In [25]:
spouse_occupation.value_counts(), '\n'

(secretaries and administrative assistants                                          1389
 driver/sales workers and truck drivers                                              915
 elementary and middle school teachers                                               822
 retail salespersons                                                                 774
 first-line supervisors of retail sales workers                                      747
                                                                                    ...
 multiple machine tool setters, operators, and tenders, metal and plastic              1
 hoist and winch operators                                                             1
 other transportation workers                                                          1
 milling and planing machine setters, operators, and tenders, metal  and plastic       1
 agricultural engineers                                                                1
 Name: spouse_occupation, Length: 532, dtype: int64,
 '\n')

In [26]:
marriage_happiness.value_counts(), '\n'

(very happy       21427
 pretty happy     11506
 not too happy     1066
 Name: marriage_happiness, dtype: int64,
 '\n')

In [27]:
sex.value_counts(), '\n'

(female    40301
 male      31977
 Name: sex, dtype: int64,
 '\n')

In [28]:
educ.value_counts(), '\n'
# educ = highest year of school completed (GSS website)

(12.0    21401
 16.0     9994
 14.0     8208
 13.0     5905
 11.0     3942
 15.0     3307
 10.0     3010
 18.0     2945
 8.0      2786
 17.0     2392
 9.0      2172
 20.0     1803
 19.0     1112
 7.0       896
 6.0       866
 5.0       410
 4.0       326
 3.0       268
 0.0       177
 2.0       158
 1.0        49
 Name: educ, dtype: int64,
 '\n')

In [29]:
income16.value_counts(), '\n'

($60,000 to $74,999      1144
 $170,000 or over        1037
 $75,000 to $89,999       935
 $90,000 to $109,999      899
 $50,000 to $59,999       886
 $40,000 to $49,999       854
 $110,000 to $129,999     630
 $30,000 to $34,999       564
 $35,000 to $39,999       515
 $130,000 to $149,999     464
 $25,000 to $29,999       455
 $150,000 to $169,999     370
 $10,000 to $12,499       349
 $22,500 to $24,999       347
 $20,000 to $22,499       332
 $12,500 to $14,999       304
 $15,000 to $17,499       247
 $17,500 to $19,999       219
 $8,000 to $9,999         183
 under $1,000             172
 $1,000 to $2,999         145
 $3,000 to $3,999          80
 $7,000 to $7,999          70
 $5,000 to $5,999          67
 $6,000 to $6,999          50
 $4,000 to $4,999          49
 Name: income16, dtype: int64,
 '\n')

In [30]:
income.value_counts(), '\n'

($25,000 or more       34785
 $10,000 to $14,999     6850
 $20,000 to $24,999     5528
 $15,000 to $19,999     5301
 $8,000 to $9,999       2285
 $1,000 to $2,999       1412
 $7,000 to $7,999       1315
 $5,000 to $5,999       1314
 $3,000 to $3,999       1309
 $6,000 to $6,999       1249
 $4,000 to $4,999       1189
 under $1,000            902
 Name: income, dtype: int64,
 '\n')

**Cleaning income**
- Making a copy of income with numerical values for data visualization and analysis purposes. Rounding each income category to its highest bound (e.g. 10,000-14,999 --> 14999)

In [31]:
income_numeric = income.copy()
income_numeric = income_numeric.replace({"$25,000 or more": 25000,
                                         "$10,000 to $14,999": 12500,
                                         "$20,000 to $24,999": 22500,
                                         "$15,000 to $19,999": 17500,
                                         "$8,000 to $9,999": 9000,
                                         "$1,000 to $2,999": 2000,
                                         "$7,000 to $7,999": 7500,
                                         "$5,000 to $5,999": 5500,
                                         "$3,000 to $3,999": 3500,
                                         "$6,000 to $6,999": 6500,
                                         "$4,000 to $4,999": 4500,
                                         "under $1,000": 1000})
# There's a weird distribution of the values. Correcting it:
# Note: Kelsey did this by assigning each numeric value to its closest value of 25,000 in increments of 2500.
# For example, 4500 --> 5000.

In [32]:
income_numeric.value_counts()

25000.0    34785
12500.0     6850
22500.0     5528
17500.0     5301
9000.0      2285
2000.0      1412
7500.0      1315
5500.0      1314
3500.0      1309
6500.0      1249
4500.0      1189
1000.0       902
Name: income, dtype: int64

In [33]:
df['income'] = income_numeric

In [34]:
df_prestige_hapmar = df.copy()

In [35]:
df_prestige_hapmar_hours = df.copy()

In [36]:
# Check for NaN overlaps
both_nan = df_prestige_hapmar[df_prestige_hapmar['respondent_prestige'].isna() & df_prestige_hapmar['prestg105plus'].isna()]
respondent_prestige_nan_prestg105plus_not = df_prestige_hapmar[df_prestige_hapmar['respondent_prestige'].isna() & df_prestige_hapmar['prestg105plus'].notna()]
prestg105plus_nan_respondent_prestige_not = df_prestige_hapmar[df_prestige_hapmar['prestg105plus'].isna() & df_prestige_hapmar['respondent_prestige'].notna()]

# Output the counts
print(f"Rows where both variables are NaN: {len(both_nan)}")
print(f"Rows where 'respondent_prestige' is NaN and 'prestg105plus' is not: {len(respondent_prestige_nan_prestg105plus_not)}")
print(f"Rows where 'prestg105plus' is NaN and 'respondent_prestige' is not: {len(prestg105plus_nan_respondent_prestige_not)}")

# Combining the variables

# Example of combining:
df['combined_var'] = df['respondent_prestige'].combine_first(df['prestg105plus'])

# This new column 'combined_var' will have 'respondent_prestige' values where available; otherwise, it'll use 'prestg105plus' values.

Rows where both variables are NaN: 5142
Rows where 'respondent_prestige' is NaN and 'prestg105plus' is not: 0
Rows where 'prestg105plus' is NaN and 'respondent_prestige' is not: 7199

In [37]:
# Check for NaN overlaps
both_nan = df_prestige_hapmar[df_prestige_hapmar['income16'].isna() & df_prestige_hapmar['income'].isna()]
income16_nan_income_not = df_prestige_hapmar[df_prestige_hapmar['income16'].isna() & df_prestige_hapmar['income'].notna()]
income_nan_income16_not = df_prestige_hapmar[df_prestige_hapmar['income'].isna() & df_prestige_hapmar['income16'].notna()]

# Output the counts
print(f"Rows where both variables are NaN: {len(both_nan)}")
print(f"Rows where 'income16' is NaN and 'income' is not: {len(income16_nan_income_not)}")
print(f"Rows where 'income' is NaN and 'income16' is not: {len(income_nan_income16_not)}")

# Combining the variables

# Example of combining:
df['combined_var'] = df['income16'].combine_first(df['income'])

# This new column 'combined_var' will have 'income16' values where available; otherwise, it'll use 'income' values.

Rows where both variables are NaN: 8951
Rows where 'income16' is NaN and 'income' is not: 52072
Rows where 'income' is NaN and 'income16' is not: 0

In [38]:
# Check for NaN overlaps
both_nan = df_prestige_hapmar[df_prestige_hapmar['prestige'].isna() & df_prestige_hapmar['respondent_prestige'].isna()]
prestige_nan_respondent_prestige_not = df_prestige_hapmar[df_prestige_hapmar['prestige'].isna() & df_prestige_hapmar['respondent_prestige'].notna()]
respondent_prestige_nan_prestige_not = df_prestige_hapmar[df_prestige_hapmar['respondent_prestige'].isna() & df_prestige_hapmar['prestige'].notna()]

# Output the counts
print(f"Rows where both variables are NaN: {len(both_nan)}")
print(f"Rows where 'prestige' is NaN and 'respondent_prestige' is not: {len(prestige_nan_respondent_prestige_not)}")
print(f"Rows where 'respondent_prestige' is NaN and 'prestige' is not: {len(respondent_prestige_nan_prestige_not)}")

# Combining the variables

# Example of combining:
df['combined_var'] = df['prestige'].combine_first(df['respondent_prestige'])

# This new column 'combined_var' will have 'prestige' values where available; otherwise, it'll use 'respondent_prestige' values.

Rows where both variables are NaN: 4222
Rows where 'prestige' is NaN and 'respondent_prestige' is not: 43901
Rows where 'respondent_prestige' is NaN and 'prestige' is not: 920

In [39]:
df_prestige_hapmar.dropna(subset=['respondent_prestige', 'marriage_happiness', 'marital_status', 'spouse_prestige'], inplace=True)
len(df_prestige_hapmar)
# This is a df with only rows that have respondent_prestige, marriage_happiness, marital_status, and spouse_prestige values

29551

In [40]:
len(df_prestige_hapmar['occupation'].unique())

522

In [41]:
df_prestige_hapmar_hours.dropna(subset=['respondent_prestige', 'marriage_happiness', 'marital_status', 'spouse_prestige', 'spouse_hours_worked', 'respondent_hours_worked'], inplace=True)
len(df_prestige_hapmar_hours)
# This is a df with only rows that have respondent_prestige, marriage_happiness, marital_status,spouse prestige, and spouse_hours_worked values

14122

In [51]:
len(df_prestige_hapmar_hours['occupation'].unique())

499

In [42]:
df_prestige_hapmar_hours.isna().sum()

work_status                     0
occupation                      0
prestige                     8804
workplace_classification    13548
marital_status                  0
divorce                        39
marriage_type               11980
spouse_prestige                 0
respondent_prestige             0
spouse_occupation               0
marriage_happiness              0
age                           107
educ                           27
sex                            14
income16                    12002
income                        938
prestg105plus                1295
spouse_hours_worked             0
respondent_hours_worked         0
dtype: int64

In [43]:
missing_respondent_hours_worked_count = df_prestige_hapmar_hours['respondent_hours_worked'].isna().sum()
missing_spouse_hours_worked_count = df_prestige_hapmar_hours['spouse_hours_worked'].isna().sum()
row_count = len(df_prestige_hapmar_hours)
percent_respondent_hours_worked = (missing_respondent_hours_worked_count / row_count) * 100
print(percent_respondent_hours_worked, "% of the respondent_hours_worked rows are NaN")
percent_spouse_hours_worked = (missing_spouse_hours_worked_count / row_count) * 100
print(percent_spouse_hours_worked, "% of the spouse_hours_worked rows are NaN")

0.0 % of the respondent_hours_worked rows are NaN
0.0 % of the spouse_hours_worked rows are NaN

In [44]:
df_prestige_hapmar_hours = df_prestige_hapmar_hours.reset_index(drop=True)
df_prestige_hapmar_hours.index = df_prestige_hapmar_hours.index + 1
final_df = df_prestige_hapmar_hours

In [45]:
final_df.drop(columns=['marriage_type', 'workplace_classification', 'income16', 'divorce', 'prestige', 'prestg105plus'], inplace = True)
final_df.head(3)

,work_status,occupation,marital_status,spouse_prestige,respondent_prestige,spouse_occupation,marriage_happiness,age,educ,sex,income,spouse_hours_worked,respondent_hours_worked
1,working full time,"inspectors, testers, sorters, samplers, and we...",married,35.0,39.0,"painters, construction and maintenance",very happy,36.0,11.0,female,12500.0,40.0,40.0
2,working full time,stock clerks and order fillers,married,29.0,25.0,print binding and finishing workers,very happy,32.0,12.0,male,12500.0,37.0,40.0
3,working full time,retail salespersons,married,45.0,31.0,"bookkeeping, accounting, and auditing clerks",very happy,55.0,12.0,male,5500.0,44.0,60.0

In [46]:
final_df.shape

(14122, 13)

In [47]:
new_col_order = ['age', 'sex', 'educ', 'marital_status','work_status', 'occupation', 'respondent_prestige', 'respondent_hours_worked', 'income', 'spouse_occupation', 'spouse_prestige', 'spouse_hours_worked', 'marriage_happiness']
len(new_col_order)

13

In [48]:
final_df = final_df[new_col_order]
final_df.head(3)

,age,sex,educ,marital_status,work_status,occupation,respondent_prestige,respondent_hours_worked,income,spouse_occupation,spouse_prestige,spouse_hours_worked,marriage_happiness
1,36.0,female,11.0,married,working full time,"inspectors, testers, sorters, samplers, and we...",39.0,40.0,12500.0,"painters, construction and maintenance",35.0,40.0,very happy
2,32.0,male,12.0,married,working full time,stock clerks and order fillers,25.0,40.0,12500.0,print binding and finishing workers,29.0,37.0,very happy
3,55.0,male,12.0,married,working full time,retail salespersons,31.0,60.0,5500.0,"bookkeeping, accounting, and auditing clerks",45.0,44.0,very happy

In [52]:
# Lots of respondent and spouse hours worked are missing, so this may or may not
# be used. Up to the visualization team

<font size="5">**WRANGLING DOCUMENTATION**</font>

Write notes about steps taken to wrangle the data here:

1. DtypeWarning -- several columns have mixed types, and all columns are objects, which should not be the case -- changed numerical data columns to float64 dtypes

2. Bad column names -- changed column names for clarity wherever possible

3. 2 columns just had column names for every value -- threw these out

4. Wanted to check if there was any difference between respondent_prestige and prestg105plus. Since there were no rows where prestg105plus had a value where respondent_prestige did not, we only included the respondent_prestige column. I also did this with income16 and income, as well as prestige and respondent_prestige.

5. In the codebook, since the missing values for "hapmar" can be largely attributed to "not applicable" instead of "no answer" or "skipped on web," we decided that it was valid to drop all of the rows that had NaN for this.

6. Dropped several columns because they were too empty to be useful or just not really relevant

In [50]:
from google.colab import drive
drive.mount('/content/drive', force_remount = True)
final_df.to_csv('/content/drive/My Drive/4th Year/IntroML/cleaned_gss.csv')

Mounted at /content/drive