<a href="https://colab.research.google.com/github/torrancefredell/gss_project/blob/main/gss_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font size="5">**GSS PROJECT**</font>

Research question: How does occupational prestige and work-life balance influence marital satisfaction among married individuals in the US?

In [ ]:
! git clone https://github.com/DS3001/project_gss

Cloning into 'project_gss'...
remote: Enumerating objects: 23, done.
remote: Counting objects: 100% (23/23), done.
remote: Compressing objects: 100% (23/23), done.
remote: Total 23 (delta 6), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (23/23), 23.94 MiB | 8.29 MiB/s, done.
Resolving deltas: 100% (6/6), done.

In [85]:
import pandas as pd

var_list = ['wrkstat', 'occ10', 'prestige', 'whatslf2', 'marital', 'divorce', 'martype',
            'sppres10', 'prestg10', 'spocc10', 'hapmar', 'age', 'educ', 'sex', 'income16', 'income'] # List of variables you want to save
output_filename = 'selected_gss_data.csv' # Name of the file you want to save the data to

modes = ['w','a'] # Has write mode and append mode
phase = 0 # Starts in write mode; after one iteration of loop, switches to append mode

for k in range(3): # for each chunk of the data
    url = 'https://github.com/DS3001/project_gss/raw/main/gss_chunk_' + str(1+k) + '.parquet' # Create url to the chunk to be processed
    print(url) # Check the url is correct
    df = pd.read_parquet(url) # Download this chunk of data
    print(df.head()) # Visually inspect the first few rows
    df.loc[:,var_list].to_csv(output_filename, # specifies target file to save the chunk to
                              mode=modes[phase], # control write versus append
                              header=var_list, # variable names
                              index=False) # no row index saved
    phase = 1 # Switch from write mode to append mode

https://github.com/DS3001/project_gss/raw/main/gss_chunk_1.parquet
   year  id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1972   1  working full time   NaN   NaN    NaN  205.0      50.0
1  1972   2            retired   NaN   NaN    yes  441.0      45.0
2  1972   3  working part time   NaN   NaN    NaN  270.0      44.0
3  1972   4  working full time   NaN   NaN    NaN    1.0      57.0
4  1972   5      keeping house   NaN   NaN    yes  385.0      40.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next wtsscomp wtsscompnr
0           NaN          NaN           NaN   0.4446        NaN
1           NaN          NaN           NaN   0.8893        NaN
2           NaN          NaN           NaN   0.8893        NaN
3           NaN          NaN           NaN   0.8893        NaN
4           NaN          NaN           NaN   0.8893        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_2.parquet
   year   id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1989  775            retired   NaN   NaN    yes  540.0      36.0
1  1989  776  working full time  40.0   NaN    NaN  925.0      36.0
2  1989  777            retired   NaN   NaN    yes   80.0      61.0
3  1989  778  working full time  44.0   NaN    NaN  912.0      26.0
4  1989  779            retired   NaN   NaN    yes  690.0      32.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0           NaN          NaN           NaN  1.295069        NaN
1           NaN          NaN           NaN  0.483624        NaN
2           NaN          NaN           NaN  0.407988        NaN
3           NaN          NaN           NaN  1.225988        NaN
4           NaN          NaN           NaN  0.504302        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_3.parquet
   year    id            wrkstat  hrs1  hrs2 evwork  occ  prestige  \
0  2006  1751  working full time  40.0   NaN    NaN  NaN       NaN
1  2006  1752          in school   NaN   NaN    yes  NaN       NaN
2  2006  1753  working full time  35.0   NaN    NaN  NaN       NaN
3  2006  1754  working full time  50.0   NaN    NaN  NaN       NaN
4  2006  1755  working full time  40.0   NaN    NaN  NaN       NaN

         wrkslf     wrkgovt  ...  agehef12 agehef13 agehef14  hompoph  \
0  someone else  government  ...       NaN      NaN      NaN      NaN
1  someone else     private  ...       NaN      NaN      NaN      NaN
2  someone else  government  ...       NaN      NaN      NaN      NaN
3  someone else  government  ...       NaN      NaN      NaN      NaN
4  someone else     private  ...       NaN      NaN      NaN      NaN

  wtssps_nea  wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0        NaN           NaN          NaN           NaN  1.079141   0.961150
1        NaN           NaN          NaN           NaN  7.673834   6.641571
2        NaN           NaN          NaN           NaN  0.584663   0.512145
3        NaN           NaN          NaN           NaN  0.715731   0.637592
4        NaN           NaN          NaN           NaN  1.094831   0.956094

[5 rows x 6694 columns]

In [143]:
df = pd.read_csv('selected_gss_data.csv')
df.tail(10)

<ipython-input-143-31e905523f48>:1: DtypeWarning: Columns (2,7,8,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('selected_gss_data.csv')

,wrkstat,occ10,prestige,whatslf2,marital,divorce,martype,sppres10,prestg10,spocc10,hapmar,age,educ,sex,income16,income
72382,retired,automotive service technicians and mechanics,NaN,NaN,married,no,NaN,38.0,45.0,insurance claims and policy processing clerks,very happy,69.0,14.0,male,"$90,000 to $109,999","$25,000 or more"
72383,retired,elementary and middle school teachers,NaN,NaN,married,yes,NaN,61.0,61.0,elementary and middle school teachers,very happy,66.0,17.0,male,"$40,000 to $49,999","$25,000 or more"
72384,retired,"architects, except naval",NaN,NaN,divorced,NaN,NaN,NaN,73.0,NaN,NaN,78.0,16.0,male,"$50,000 to $59,999","$25,000 or more"
72385,retired,cooks,NaN,NaN,divorced,NaN,NaN,NaN,33.0,NaN,NaN,73.0,9.0,male,"$10,000 to $12,499","$10,000 to $14,999"
72386,retired,miscellaneous agricultural workers,NaN,NaN,widowed,no,NaN,NaN,27.0,NaN,NaN,84.0,12.0,female,"$20,000 to $22,499","$20,000 to $24,999"
72387,working full time,"hotel, motel, and resort desk clerks",NaN,"other (agriculture, construction, service, gov...",never married,NaN,NaN,NaN,30.0,NaN,NaN,22.0,12.0,female,"$25,000 to $29,999","$25,000 or more"
72388,working full time,elementary and middle school teachers,NaN,"other (agriculture, construction, service, gov...",married,yes,NaN,60.0,61.0,police and sheriff's patrol officers,very happy,29.0,19.0,female,"$60,000 to $74,999","$25,000 or more"
72389,working full time,respiratory therapists,NaN,"other (agriculture, construction, service, gov...",never married,NaN,NaN,64.0,62.0,NaN,NaN,32.0,15.0,male,"$130,000 to $149,999","$25,000 or more"
72390,working full time,elementary and middle school teachers,NaN,"other (agriculture, construction, service, gov...",married,no,marriage between a man and a woman,65.0,61.0,civil engineers,very happy,49.0,17.0,female,"$150,000 to $169,999","$25,000 or more"
72391,working full time,forest and conservation workers,NaN,"other (agriculture, construction, service, gov...",married,no,marriage between a man and a woman,38.0,42.0,other teachers and instructors,pretty happy,50.0,20.0,male,"$90,000 to $109,999","$25,000 or more"

In [87]:
df.shape, '\n'

((72392, 16), '\n')

In [88]:
df.dtypes

wrkstat     object
occ10       object
prestige    object
whatslf2    object
marital     object
divorce     object
martype     object
sppres10    object
prestg10    object
spocc10     object
hapmar      object
age         object
educ        object
sex         object
income16    object
income      object
dtype: object

In [104]:
sppres10 = df['sppres10']
prestige = df['prestige']
prestg10 = df['prestg10']
income16 = df['income16']
income = df['income']
wrkstat = df['wrkstat']
occ10 = df['occ10']
whatslf2 = df['whatslf2']
marital = df['marital']
divorce = df['divorce']
martype = df['martype']
spocc10 = df['spocc10']
hapmar = df['hapmar']
age = df['age']
educ = df['educ']
sex = df['sex']

In [105]:
missing_sppres10_count = sppres10.isna().sum()
missing_prestige_count = prestige.isna().sum()
missing_prestg10_count = prestg10.isna().sum()
missing_income16_count = income16.isna().sum()
missing_income_count = income.isna().sum()
missing_wrkstat_count = wrkstat.isna().sum()
missing_occ10_count = occ10.isna().sum()
missing_whatslf2_count = whatslf2.isna().sum()
missing_marital_count = marital.isna().sum()
missing_divorce_count = divorce.isna().sum()
missing_martype_count = martype.isna().sum()
missing_spocc10_count = spocc10.isna().sum()
missing_hapmar_count = hapmar.isna().sum()
missing_age_count = age.isna().sum()
missing_educ_count = educ.isna().sum()
missing_sex_count = sex.isna().sum()

In [107]:
row_count = len(df)

percent_sppres10 = (missing_sppres10_count / row_count) * 100
print(percent_sppres10, "% of the sppres10 rows are NaN")

percent_prestige = (missing_prestige_count / row_count) * 100
print(percent_prestige, "% of the prestige rows are NaN")

percent_prestg10 = (missing_prestg10_count / row_count) * 100
print(percent_prestg10, "% of the prestg10 rows are NaN")

percent_income16 = (missing_income16_count / row_count) * 100
print(percent_income16, "% of the income16 rows are NaN")

percent_income = (missing_income_count / row_count) * 100
print(percent_income, "% of the income rows are NaN")

percent_wrkstat = (missing_wrkstat_count / row_count) * 100
print(percent_wrkstat, "% of the wrkstat rows are NaN")

percent_occ10 = (missing_occ10_count / row_count) * 100
print(percent_occ10, "% of the occ10 rows are NaN")

percent_whatslf2 = (missing_whatslf2_count / row_count) * 100
print(percent_whatslf2, "% of the whatslf2 rows are NaN")

percent_marital = (missing_marital_count / row_count) * 100
print(percent_marital, "% of the marital rows are NaN")

percent_divorce = (missing_divorce_count / row_count) * 100
print(percent_divorce, "% of the divorce rows are NaN")

percent_martype = (missing_martype_count / row_count) * 100
print(percent_martype, "% of the martype rows are NaN")

percent_spocc10 = (missing_spocc10_count / row_count) * 100
print(percent_spocc10, "% of the spocc10 rows are NaN")

percent_hapmar = (missing_hapmar_count / row_count) * 100
print(percent_hapmar, "% of the hapmar rows are NaN")

percent_age = (missing_age_count / row_count) * 100
print(percent_age, "% of the age rows are NaN")

percent_educ = (missing_educ_count / row_count) * 100
print(percent_educ, "% of the educ rows are NaN")

percent_sex = (missing_sex_count / row_count) * 100
print(percent_sex, "% of the sex rows are NaN")

51.93805945408333 % of the sppres10 rows are NaN
66.47557741186871 % of the prestige rows are NaN
7.102994806055918 % of the prestg10 rows are NaN
84.29522599182229 % of the income16 rows are NaN
12.36462592551663 % of the income rows are NaN
0.04972925185103326 % of the wrkstat rows are NaN
7.097469333628024 % of the occ10 rows are NaN
96.97894795004973 % of the whatslf2 rows are NaN
0.07044977345563046 % of the marital rows are NaN
39.073378273842415 % of the divorce rows are NaN
92.9881754890043 % of the martype rows are NaN
52.31241021107304 % of the spocc10 rows are NaN
53.03210299480605 % of the hapmar rows are NaN
1.0622720742623495 % of the age rows are NaN
0.36329981213393747 % of the educ rows are NaN
0.15471322798099238 % of the sex rows are NaN

Variables to use:
- prestg10 -- respondent's job prestige
- income -- family income
- wkrstat -- work status last week
- occ10 -- respondent's occupation
- marital -- marital status
- age -- respondent's age
- educ -- respondent's education
- sex -- respondent's sex
- POTENTIALLY: spocc10 (respondent's spouse's occupation), sppres10 (respondent's spouse's occupation prestige), hapmar (marriage happiness)

In [144]:
df['sppres10'] = pd.to_numeric(df['sppres10'], errors = 'coerce')
df['prestige'] = pd.to_numeric(df['prestige'], errors = 'coerce')
df['age'] = pd.to_numeric(df['age'], errors = 'coerce')
df['educ'] = pd.to_numeric(df['educ'], errors = 'coerce')

In [145]:
df.dtypes

wrkstat      object
occ10        object
prestige    float64
whatslf2     object
marital      object
divorce      object
martype      object
sppres10    float64
prestg10     object
spocc10      object
hapmar       object
age         float64
educ        float64
sex          object
income16     object
income       object
dtype: object

In [146]:
wrkstat.value_counts(), '\n'

(working full time                                                             35267
 retired                                                                       10886
 keeping house                                                                 10764
 working part time                                                              7430
 unemployed, laid off, looking for work                                         2621
 in school                                                                      2187
 other                                                                          1643
 with a job, but not at work because of temporary illness, vacation, strike     1556
 wrkstat                                                                           2
 Name: wrkstat, dtype: int64,
 '\n')

In [147]:
occ10.value_counts(), '\n'

(secretaries and administrative assistants                                                     2727
 retail salespersons                                                                           1515
 elementary and middle school teachers                                                         1475
 nursing, psychiatric, and home health aides                                                   1386
 driver/sales workers and truck drivers                                                        1324
                                                                                               ...
 nuclear technicians                                                                              1
 signal and track switch repairers                                                                1
 transit and railroad police                                                                      1
 extruding and forming machine setters, operators, and tenders,  synthetic and glass fibers       1
 hunters and trappers                                                                             1
 Name: occ10, Length: 534, dtype: int64,
 '\n')

In [149]:
whatslf2.value_counts(), '\n'

(other (agriculture, construction, service, government, etc.)    1612
 retail trade                                                     283
 manufacturing                                                    228
 wholesale trade                                                   62
 whatslf2                                                           2
 Name: whatslf2, dtype: int64,
 '\n')

In [150]:
marital.value_counts(), '\n'

(married          37590
 never married    15910
 divorced          9642
 widowed           6756
 separated         2441
 marital              2
 Name: marital, dtype: int64,
 '\n')

In [151]:
divorce.value_counts(), '\n'

(no         34738
 yes         9366
 divorce        2
 Name: divorce, dtype: int64,
 '\n')

In [152]:
martype.value_counts(), '\n'

(marriage between a man and a woman                4999
 not sure                                            39
 marriage between two people of the same gender      36
 martype                                              2
 Name: martype, dtype: int64,
 '\n')

In [154]:
spocc10.value_counts(), '\n'

(secretaries and administrative assistants         1389
 driver/sales workers and truck drivers             915
 elementary and middle school teachers              822
 retail salespersons                                774
 first-line supervisors of retail sales workers     747
                                                   ...
 marine engineers and naval architects                1
 hoist and winch operators                            1
 motion picture projectionists                        1
 other transportation workers                         1
 agricultural engineers                               1
 Name: spocc10, Length: 533, dtype: int64,
 '\n')

In [155]:
hapmar.value_counts(), '\n'

(very happy       21427
 pretty happy     11506
 not too happy     1066
 hapmar               2
 Name: hapmar, dtype: int64,
 '\n')

In [158]:
sex.value_counts(), '\n'

(female    40301
 male      31977
 sex           2
 Name: sex, dtype: int64,
 '\n')

In [159]:
income16.value_counts(), '\n'

($60,000 to $74,999      1144
 $170,000 or over        1037
 $75,000 to $89,999       935
 $90,000 to $109,999      899
 $50,000 to $59,999       886
 $40,000 to $49,999       854
 $110,000 to $129,999     630
 $30,000 to $34,999       564
 $35,000 to $39,999       515
 $130,000 to $149,999     464
 $25,000 to $29,999       455
 $150,000 to $169,999     370
 $10,000 to $12,499       349
 $22,500 to $24,999       347
 $20,000 to $22,499       332
 $12,500 to $14,999       304
 $15,000 to $17,499       247
 $17,500 to $19,999       219
 $8,000 to $9,999         183
 under $1,000             172
 $1,000 to $2,999         145
 $3,000 to $3,999          80
 $7,000 to $7,999          70
 $5,000 to $5,999          67
 $6,000 to $6,999          50
 $4,000 to $4,999          49
 income16                   2
 Name: income16, dtype: int64,
 '\n')

In [160]:
income.value_counts(), '\n'

($25,000 or more       34785
 $10,000 to $14,999     6850
 $20,000 to $24,999     5528
 $15,000 to $19,999     5301
 $8,000 to $9,999       2285
 $1,000 to $2,999       1412
 $7,000 to $7,999       1315
 $5,000 to $5,999       1314
 $3,000 to $3,999       1309
 $6,000 to $6,999       1249
 $4,000 to $4,999       1189
 under $1,000            902
 income                    2
 Name: income, dtype: int64,
 '\n')

<font size="5">**WRANGLING DOCUMENTATION**</font>

Write notes about steps taken to wrangle the data here:

1. DtypeWarning -- several columns have mixed types, and all columns are objects, which should not be the case
-- Changed numerical data columns to float64 dtypes