<font size="5">**GSS PROJECT**</font>

Research question: How does occupational prestige and work-life balance influence marital satisfaction among married individuals in the US?

In [1]:
! git clone https://github.com/DS3001/project_gss

Cloning into 'project_gss'...
remote: Enumerating objects: 23, done.
remote: Counting objects: 100% (23/23), done.
remote: Compressing objects: 100% (23/23), done.
remote: Total 23 (delta 6), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (23/23), 23.94 MiB | 8.69 MiB/s, done.
Resolving deltas: 100% (6/6), done.

In [34]:
import pandas as pd
import numpy as np

var_list = ['wrkstat', 'occ10', 'prestige', 'whatslf2', 'marital', 'divorce', 'martype',
            'sppres10', 'prestg10', 'spocc10', 'hapmar', 'age', 'educ', 'sex', 'income16', 'income'] # List of variables you want to save
output_filename = 'selected_gss_data.csv' # Name of the file you want to save the data to

modes = ['w','a'] # Has write mode and append mode
phase = 0 # Starts in write mode; after one iteration of loop, switches to append mode

for k in range(3): # for each chunk of the data
    url = 'https://github.com/DS3001/project_gss/raw/main/gss_chunk_' + str(1+k) + '.parquet' # Create url to the chunk to be processed
    print(url) # Check the url is correct
    df = pd.read_parquet(url) # Download this chunk of data
    print(df.head()) # Visually inspect the first few rows
    df.loc[:,var_list].to_csv(output_filename, # specifies target file to save the chunk to
                              mode=modes[phase], # control write versus append
                              header=var_list, # variable names
                              index=False) # no row index saved
    phase = 1 # Switch from write mode to append mode

https://github.com/DS3001/project_gss/raw/main/gss_chunk_1.parquet
   year  id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1972   1  working full time   NaN   NaN    NaN  205.0      50.0
1  1972   2            retired   NaN   NaN    yes  441.0      45.0
2  1972   3  working part time   NaN   NaN    NaN  270.0      44.0
3  1972   4  working full time   NaN   NaN    NaN    1.0      57.0
4  1972   5      keeping house   NaN   NaN    yes  385.0      40.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next wtsscomp wtsscompnr
0           NaN          NaN           NaN   0.4446        NaN
1           NaN          NaN           NaN   0.8893        NaN
2           NaN          NaN           NaN   0.8893        NaN
3           NaN          NaN           NaN   0.8893        NaN
4           NaN          NaN           NaN   0.8893        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_2.parquet
   year   id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1989  775            retired   NaN   NaN    yes  540.0      36.0
1  1989  776  working full time  40.0   NaN    NaN  925.0      36.0
2  1989  777            retired   NaN   NaN    yes   80.0      61.0
3  1989  778  working full time  44.0   NaN    NaN  912.0      26.0
4  1989  779            retired   NaN   NaN    yes  690.0      32.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0           NaN          NaN           NaN  1.295069        NaN
1           NaN          NaN           NaN  0.483624        NaN
2           NaN          NaN           NaN  0.407988        NaN
3           NaN          NaN           NaN  1.225988        NaN
4           NaN          NaN           NaN  0.504302        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_3.parquet
   year    id            wrkstat  hrs1  hrs2 evwork  occ  prestige  \
0  2006  1751  working full time  40.0   NaN    NaN  NaN       NaN
1  2006  1752          in school   NaN   NaN    yes  NaN       NaN
2  2006  1753  working full time  35.0   NaN    NaN  NaN       NaN
3  2006  1754  working full time  50.0   NaN    NaN  NaN       NaN
4  2006  1755  working full time  40.0   NaN    NaN  NaN       NaN

         wrkslf     wrkgovt  ...  agehef12 agehef13 agehef14  hompoph  \
0  someone else  government  ...       NaN      NaN      NaN      NaN
1  someone else     private  ...       NaN      NaN      NaN      NaN
2  someone else  government  ...       NaN      NaN      NaN      NaN
3  someone else  government  ...       NaN      NaN      NaN      NaN
4  someone else     private  ...       NaN      NaN      NaN      NaN

  wtssps_nea  wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0        NaN           NaN          NaN           NaN  1.079141   0.961150
1        NaN           NaN          NaN           NaN  7.673834   6.641571
2        NaN           NaN          NaN           NaN  0.584663   0.512145
3        NaN           NaN          NaN           NaN  0.715731   0.637592
4        NaN           NaN          NaN           NaN  1.094831   0.956094

[5 rows x 6694 columns]

In [28]:
df = pd.read_csv('selected_gss_data.csv')
df.head(5)

<ipython-input-28-a804380d65fb>:1: DtypeWarning: Columns (2,7,8,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('selected_gss_data.csv')

,wrkstat,occ10,prestige,whatslf2,marital,divorce,martype,sppres10,prestg10,spocc10,hapmar,age,educ,sex,income16,income
0,working full time,"wholesale and retail buyers, except farm products",50.0,NaN,never married,NaN,NaN,NaN,45.0,NaN,NaN,23.0,16.0,female,NaN,NaN
1,retired,first-line supervisors of production and opera...,45.0,NaN,married,no,NaN,NaN,50.0,NaN,NaN,70.0,10.0,male,NaN,NaN
2,working part time,real estate brokers and sales agents,44.0,NaN,married,no,NaN,41.0,49.0,"property, real estate, and community associati...",NaN,48.0,12.0,female,NaN,NaN
3,working full time,accountants and auditors,57.0,NaN,married,no,NaN,39.0,60.0,"tax examiners and collectors, and revenue agents",NaN,27.0,17.0,female,NaN,NaN
4,keeping house,telephone operators,40.0,NaN,married,no,NaN,38.0,31.0,"rolling machine setters, operators, and tender...",NaN,61.0,12.0,female,NaN,NaN

In [7]:
df.shape

(72392, 16)

In [ ]:
df.dtypes

wrkstat     object
occ10       object
prestige    object
whatslf2    object
marital     object
divorce     object
martype     object
sppres10    object
prestg10    object
spocc10     object
hapmar      object
age         object
educ        object
sex         object
income16    object
income      object
dtype: object

In [29]:
sppres10 = df['sppres10']
prestige = df['prestige']
prestg10 = df['prestg10']
income16 = df['income16']
income = df['income']
wrkstat = df['wrkstat']
occ10 = df['occ10']
whatslf2 = df['whatslf2']
marital = df['marital']
divorce = df['divorce']
martype = df['martype']
spocc10 = df['spocc10']
hapmar = df['hapmar']
age = df['age']
educ = df['educ']
sex = df['sex']

In [30]:
missing_sppres10_count = sppres10.isna().sum()
missing_prestige_count = prestige.isna().sum()
missing_prestg10_count = prestg10.isna().sum()
missing_income16_count = income16.isna().sum()
missing_income_count = income.isna().sum()
missing_wrkstat_count = wrkstat.isna().sum()
missing_occ10_count = occ10.isna().sum()
missing_whatslf2_count = whatslf2.isna().sum()
missing_marital_count = marital.isna().sum()
missing_divorce_count = divorce.isna().sum()
missing_martype_count = martype.isna().sum()
missing_spocc10_count = spocc10.isna().sum()
missing_hapmar_count = hapmar.isna().sum()
missing_age_count = age.isna().sum()
missing_educ_count = educ.isna().sum()
missing_sex_count = sex.isna().sum()

In [31]:
row_count = len(df)

percent_sppres10 = (missing_sppres10_count / row_count) * 100
print(percent_sppres10, "% of the sppres10 rows are NaN")

percent_prestige = (missing_prestige_count / row_count) * 100
print(percent_prestige, "% of the prestige rows are NaN")

percent_prestg10 = (missing_prestg10_count / row_count) * 100
print(percent_prestg10, "% of the prestg10 rows are NaN")

percent_income16 = (missing_income16_count / row_count) * 100
print(percent_income16, "% of the income16 rows are NaN")

percent_income = (missing_income_count / row_count) * 100
print(percent_income, "% of the income rows are NaN")

percent_wrkstat = (missing_wrkstat_count / row_count) * 100
print(percent_wrkstat, "% of the wrkstat rows are NaN")

percent_occ10 = (missing_occ10_count / row_count) * 100
print(percent_occ10, "% of the occ10 rows are NaN")

percent_whatslf2 = (missing_whatslf2_count / row_count) * 100
print(percent_whatslf2, "% of the whatslf2 rows are NaN")

percent_marital = (missing_marital_count / row_count) * 100
print(percent_marital, "% of the marital rows are NaN")

percent_divorce = (missing_divorce_count / row_count) * 100
print(percent_divorce, "% of the divorce rows are NaN")

percent_martype = (missing_martype_count / row_count) * 100
print(percent_martype, "% of the martype rows are NaN")

percent_spocc10 = (missing_spocc10_count / row_count) * 100
print(percent_spocc10, "% of the spocc10 rows are NaN")

percent_hapmar = (missing_hapmar_count / row_count) * 100
print(percent_hapmar, "% of the hapmar rows are NaN")

percent_age = (missing_age_count / row_count) * 100
print(percent_age, "% of the age rows are NaN")

percent_educ = (missing_educ_count / row_count) * 100
print(percent_educ, "% of the educ rows are NaN")

percent_sex = (missing_sex_count / row_count) * 100
print(percent_sex, "% of the sex rows are NaN")

51.93805945408333 % of the sppres10 rows are NaN
66.47557741186871 % of the prestige rows are NaN
7.102994806055918 % of the prestg10 rows are NaN
84.29522599182229 % of the income16 rows are NaN
12.36462592551663 % of the income rows are NaN
0.04972925185103326 % of the wrkstat rows are NaN
7.097469333628024 % of the occ10 rows are NaN
96.97894795004973 % of the whatslf2 rows are NaN
0.07044977345563046 % of the marital rows are NaN
39.073378273842415 % of the divorce rows are NaN
92.9881754890043 % of the martype rows are NaN
52.31241021107304 % of the spocc10 rows are NaN
53.03210299480605 % of the hapmar rows are NaN
1.0622720742623495 % of the age rows are NaN
0.36329981213393747 % of the educ rows are NaN
0.15471322798099238 % of the sex rows are NaN

Variables to use:
- prestg10 -- respondent's job prestige
- income -- family income
- wkrstat -- work status last week
- occ10 -- respondent's occupation
- marital -- marital status
- age -- respondent's age
- educ -- respondent's education
- sex -- respondent's sex
- POTENTIALLY: spocc10 (respondent's spouse's occupation), sppres10 (respondent's spouse's occupation prestige), hapmar (marriage happiness)

<font size="5">**WRANGLING DOCUMENTATION**</font>

Write notes about steps taken to wrangle the data here:

1. DtypeWarning -- several columns have mixed types, and all columns are objects, which should not be the case

**Cleaning prestg10**

prestg10 includes values from 0.0 to 100.0, based on the standardized score of how pretigious the respondent rated their occupation. Converted from object to float type.

In [11]:
prestg10.unique()

array(['45.0', '50.0', '49.0', '60.0', '31.0', '43.0', '33.0', '25.0',
       '29.0', '51.0', '64.0', nan, '53.0', '59.0', '35.0', '47.0',
       '61.0', '22.0', '39.0', '24.0', '38.0', '62.0', '32.0', '46.0',
       '74.0', '27.0', '36.0', '44.0', '28.0', '37.0', '30.0', '58.0',
       '71.0', '48.0', '66.0', '40.0', '42.0', '17.0', '65.0', '72.0',
       '55.0', '52.0', '56.0', '26.0', '41.0', '34.0', '67.0', '73.0',
       '21.0', '57.0', '69.0', '63.0', '70.0', '68.0', '16.0', '54.0',
       '20.0', '75.0', '18.0', '80.0', '23.0', 'prestg10', '76.0', 44.0,
       62.0, 73.0, 31.0, 45.0, 56.0, 36.0, 64.0, 60.0, 32.0, 53.0, 39.0,
       35.0, 28.0, 49.0, 61.0, 55.0, 38.0, 25.0, 80.0, 33.0, 70.0, 51.0,
       23.0, 24.0, 50.0, 52.0, 46.0, 37.0, 42.0, 48.0, 66.0, 54.0, 74.0,
       69.0, 30.0, 59.0, 47.0, 43.0, 17.0, 57.0, 22.0, 34.0, 72.0, 26.0,
       71.0, 75.0, 63.0, 58.0, 29.0, 40.0, 65.0, 27.0, 18.0, 67.0, 41.0,
       21.0, 20.0, 16.0, 68.0], dtype=object)

In [20]:
# Converting to numeric

prestg10 = pd.to_numeric(prestg10, errors="coerce")
print(prestg10.isna().sum()/len(prestg10))

0.07105757542269864

prestg10 has ~7% missing values.

**Cleaning income**

In [37]:
#type(income[0])
income = income.replace("income", np.nan) # replaced values euqal to "income" with NaN values
income.value_counts()

$25,000 or more       34785
$10,000 to $14,999     6850
$20,000 to $24,999     5528
$15,000 to $19,999     5301
$8,000 to $9,999       2285
$1,000 to $2,999       1412
$7,000 to $7,999       1315
$5,000 to $5,999       1314
$3,000 to $3,999       1309
$6,000 to $6,999       1249
$4,000 to $4,999       1189
under $1,000            902
Name: income, dtype: int64

Making a copy of income with numerical values for data visualization and analysis purposes. Rounding each income category to its highest bound (e.g. 10,000-14,999 --> 14999)

In [40]:
income_numeric = income.copy()
income_numeric = income_numeric.replace({"$25,000 or more": 25000,
                                         "$10,000 to $14,999": 12500,
                                         "$20,000 to $24,999": 22500,
                                         "$15,000 to $19,999": 17500,
                                         "$8,000 to $9,999": 9000,
                                         "$1,000 to $2,999": 2000,
                                         "$7,000 to $7,999": 7500,
                                         "$5,000 to $5,999": 5500,
                                         "$3,000 to $3,999": 3500,
                                         "$6,000 to $6,999": 6500,
                                         "$4,000 to $4,999": 4500,
                                         "under $1,000": 1000})

# There's a weird distribution of the values. Correcting it:
# Note: I did this by assigning each numeric value to its closest value of $0 to $25,000 in increments of 2500.
# For example, 4500 --> 5000.

income_numeric = income_numeric.replace({9000: 10000,
                                         6500: 7500,
                                         5500: 5000,
                                         3500: 2500,
                                         2000: 25000,
                                         1000: 0,
                                         4500: 5000})

income_numeric.value_counts()

25000.0    36197
12500.0     6850
22500.0     5528
17500.0     5301
7500.0      2564
5000.0      2503
10000.0     2285
2500.0      1309
0.0          902
Name: income, dtype: int64

**Cleaning wrkstat**

In [45]:
# Replacing 'wrkstat' with NaN
wrkstat = wrkstat.replace('wrkstat', np.nan)

# Replacing 'with a job, but not at work because of temporary illness, vacation, strike' with 'temporary leave'
wrkstat = wrkstat.replace('with a job, but not at work because of temporary illness, vacation, strike', 'temporary leave')
# don't know if this is the best description - may want to change

wrkstat.value_counts()

missing_wrkstat_count = wrkstat.isna().sum()
percent_wrkstat = (missing_wrkstat_count / row_count) * 100
print(percent_wrkstat, "% of the wrkstat rows are NaN")

0.05249198806497956 % of the wrkstat rows are NaN

Only ~5% of wrkstat values missing.

**Cleaning occ10**